@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{height:100%;}

body{
    display:flex;
    height:100%;
    width:100;
}

#left {
    display:flex;
    flex-direction: column;
    background-image: url("tree.jpg");
    background-size:cover;
    width:35%;
    color:white;
    justify-content: space-around;
}

#logo{
    background-color: rgb(0,0,0,0.5);
    font-family: Norse-Bold;
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
}

#logo img{
    height:100%;
    object-fit: contain;
     
}

#right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: gainsboro;
}

#form{
    background-color: white;
}


#footer{
    display:flex;
    flex-direction: column;
}

label,input{
    display:flex;
    flex-direction:column;
  }

  fieldset{
    display:flex;
    border:0;
  }
